.listElementContainer {
  width: 100%;
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 40px;
  border: 1px solid;
  column-gap: 5px;
  padding-right: 5px;

  .image {
    display: flex;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .title {
    margin: 0;
    font-weight: 500;
    display: inline;
  }

  .content {
    display: grid;
    grid-template-columns: 50% 50%;

    .playCount {
      margin-top: 24px;
    }
  }
}
